<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Front page for libraw1394 tutorial">
    <meta name="author" content="Zihan Chen">
    
    <title>{{ page.title }}</title>

    <!-- github -->
    <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
    <link rel="stylesheet" href="{{ site.url }}/css/pygment_trac.css" />
    <!-- Bootstrap -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/bootstrap-extensions.css" rel="stylesheet" media="screen">

    <style>
      body {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 15px;
      }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
  </head>
