{% include top.html %}

    <body>
      <!-- header -->
      {% include header.html %}

      <!-- content -->
      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-9">
            {{ content }}
            
            {% include tutorial_nav.html %}
          </div> <!-- /span -->

          {% include tutorial_contents.html %}

        </div> <!-- row -->

      </div> <!--/container-->

      <div class="container">
        {% include footer.html %}
      </div>

      <!-- Placed javascript at the end of the doc for fast page loading -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="//code.jquery.com/jquery.js"></script>
      <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    </body>
</html>
